.shadow-right {
  box-shadow: 0px 5px 45px -4px rgba(0, 0, 0, 0.2);
}

.shadow {
  /* Offset-x, Offset-y, Blur-radius, Spread-radius, và Màu sắc */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* .react-tabs__tab {
  border: none;
  color: rgb(0, 0, 0);
} */

.react-tabs__tab--selected {
  border: none;
  background-color: #F1F5F9;
  /* Thay đổi màu và độ dày của border-bottom nếu cần */
  color: rgb(5 150 105);
  /* Màu chữ của tab hiện tại */
  font-weight: bold;
  /* Độ đậm của chữ tab hiện tại */
  /* Thêm các thuộc tính CSS khác cho tab hiện tại nếu cần */
}

.react-tabs__tab--selected::after {
  display: none;
}

.react-tabs__tab-list {
  border: none;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
  /* Độ rộng của thanh cuộn */
}

.modal-body::-webkit-scrollbar-track {
  background: #e3e3e3;
  /* Màu nền của thanh cuộn */
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #059669;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo tròn cho phần thanh cuộn */
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: #065F46;
  /* Màu của thanh cuộn khi di chuột qua */
}