.sub-tab {
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 15px 0;
}

.bg-cover {
    background-color: rgba(0, 0, 0, .45);
}