.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
    z-index: 10; /* Z-index để đảm bảo nó nằm trên cùng */
}