.loaderButton {
    width: 25px;
    height: 25px;
    border: 3px solid #d6f5d750;
    border-top-color: #ffffff;
    animation: spin013151 1s linear infinite;
    border-radius: 100%;
  }
  
  @keyframes spin013151 {
    to {
      transform: rotate(360deg);
    }
  }