:where(.css-dev-only-do-not-override-11xg00t).ant-drawer .ant-drawer-header {
    padding-left: 14px;
    padding-right: 14px;
}

:where(.css-dev-only-do-not-override-11xg00t).ant-drawer .ant-drawer-body {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
